
.nov-music:before { content: '\e800'; } /* '' */
.nov-search:before { content: '\e801'; } /* '' */
.nov-mail:before { content: '\e802'; } /* '' */
.nov-heart:before { content: '\e803'; } /* '' */
.nov-star:before { content: '\e804'; } /* '' */
.nov-user:before { content: '\e805'; } /* '' */
.nov-videocam:before { content: '\e806'; } /* '' */
.nov-camera:before { content: '\e807'; } /* '' */
.nov-photo:before { content: '\e808'; } /* '' */
.nov-attach:before { content: '\e809'; } /* '' */
.nov-lock:before { content: '\e80a'; } /* '' */
.nov-eye:before { content: '\e80b'; } /* '' */
.nov-tag:before { content: '\e80c'; } /* '' */
.nov-thumbs-up:before { content: '\e80d'; } /* '' */
.nov-pencil:before { content: '\e80e'; } /* '' */
.nov-comment:before { content: '\e80f'; } /* '' */
.nov-location:before { content: '\e810'; } /* '' */
.nov-cup:before { content: '\e811'; } /* '' */
.nov-trash:before { content: '\e812'; } /* '' */
.nov-doc:before { content: '\e813'; } /* '' */
.nov-note:before { content: '\e814'; } /* '' */
.nov-cog:before { content: '\e815'; } /* '' */
.nov-params:before { content: '\e816'; } /* '' */
.nov-calendar:before { content: '\e817'; } /* '' */
.nov-sound:before { content: '\e818'; } /* '' */
.nov-clock:before { content: '\e819'; } /* '' */
.nov-lightbulb:before { content: '\e81a'; } /* '' */
.nov-tv:before { content: '\e81b'; } /* '' */
.nov-desktop:before { content: '\e81c'; } /* '' */
.nov-mobile:before { content: '\e81d'; } /* '' */
.nov-cd:before { content: '\e81e'; } /* '' */
.nov-inbox:before { content: '\e81f'; } /* '' */
.nov-globe:before { content: '\e820'; } /* '' */
.nov-cloud:before { content: '\e821'; } /* '' */
.nov-paper-plane:before { content: '\e822'; } /* '' */
.nov-fire:before { content: '\e823'; } /* '' */
.nov-graduation-cap:before { content: '\e824'; } /* '' */
.nov-megaphone:before { content: '\e825'; } /* '' */
.nov-database:before { content: '\e826'; } /* '' */
.nov-key:before { content: '\e827'; } /* '' */
.nov-beaker:before { content: '\e828'; } /* '' */
.nov-truck:before { content: '\e829'; } /* '' */
.nov-money:before { content: '\e82a'; } /* '' */
.nov-food:before { content: '\e82b'; } /* '' */
.nov-shop:before { content: '\e82c'; } /* '' */
.nov-diamond:before { content: '\e82d'; } /* '' */
.nov-t-shirt:before { content: '\e82e'; } /* '' */
.nov-wallet:before { content: '\e82f'; } /* '' */