<body>

<div class="wrap">

    <div class="index">
        <div class="index-header">
            <img th:src="@{/img/logo.png}" width="46" height="40"/>
            <img th:src="@{/img/title.png}" width="40" height="40"/>
        </div>
        <div class="index-content" id="tranHisContent">
            <div class="init-guide-text" id="guideContent">
                번역 기록이 없습니다.<br/>
                <button class="init-guide-text-btn" id="chatOpenBtn">번역하기</button>
            </div>
        </div>
        <div class="index-footer">
            <button class="menu-btn">
                <i class="nov-history"></i>
            </button>
        </div>
    </div>

    <div class="chat show" id="chatContent">
        <div class="chat-header">
            <div class="lang-selector">
                <div class="lang-selector-left">
                    <select class="lang-selectbox" id="sourceLng">
                        <option selected="selected" value="de">언어감지</option>
                        <option value="ko">한국어</option>
                        <option value="en">영어</option>
                        <option value="cn">중국어</option>
                        <option value="ja">일본어</option>
                    </select>
                </div>

                <!-- 언어 교차 변경 -->
                <button class="lang-change-btn" id="langChangeBtn">
                    <i class="nov-arrows-cw"></i>
                </button>

                <div class="lang-selector-right">
                    <select class="lang-selectbox" id="targetLng">
                        <option selected="selected" value="en">영어</option>
                        <option value="ko">한국어</option>
                        <option value="cn">중국어</option>
                        <option value="ja">일본어</option>
                    </select>
                </div>

                <!-- ※모바일 chat 닫기 -->
                <button class="close-chat-btn" id="chatCloseBtn">
                    <i class="nov-cancel"></i>
                </button>
            </div>
        </div>
        <div class="chat-content" id="tranContent">
        </div>
        <div class="chat-footer">
            <textarea class="source-textarea" id="tranTextarea" placeholder="번역할 내용을 입력하세요."></textarea>
            <button class="translate-btn" id="tranBtn">번역</button>
        </div>
    </div>


    <div style="display: none;" >
        <div class="msg-notice" id="tranNoticeClone">
            <span class="msg-notice-text">언어감지(한국어) <i class="nov-right-big"></i> 영어</span>
        </div>

        <div class="msg-wrap" id="tranWrapClone">
            <div class="msg-shape">
                번역할 다른 언어 문서를 잘 찾아봐야 합니다. 일본의 문화나 작품은 일본어, 중국의 문화나 작품은 중국어 위키백과에서 찾아보는 것이 도움이 될 수도 있습니다. 하지만 때로는 그 문화권의 언어보다 타 언어의 문서가 더 우수한 경우도 있습니다. 물론, 위키백과는 국가 단위가 아닌 언어 단위이지만 여기서 말하고자 하는 궁극적 취지는 그 문화나 작품의 본 언어판에 무조건 가장 좋은 문서가 있다는 것도 아니고 그렇다고 영어판이 좋다는 것도 아닙니다. 번역 전에는 여러 언어 문서와 비교한 후 번역 대상을 찾는 것이 중요합니다. 물론, 자신이 번역할 수 있는 언어를 고려해봐야 하겠죠. 사실 가능하다면 여러 언어를 번역하여 합성하는 것도 좋으며, 상대적으로 우수하지 못한 언어판의 문서라도 하지 않는 것보다는 낫습니다.
            </div>
            <div class="msg-subscript">
                <i class="nov-user">사용자</i>        
            </div>
        </div>

        <!-- 히스토리 컨셉 -->
        <div class="history-wrap" id="tranHisClone">
            <img th:src="@{/img/ko.png}" width="38" height="38"/>
            <div class="history-body">
                <div class="history-body-lang">
                    한국어<i class="nov-right-big"></i>영어
                </div>
                <div class="history-body-text">
                    안녕하세요 저는 한국사람입니다...
                </div>
            </div>
        </div>
    </div>
</div>
</body>