<body>

<div class="wrap">

    <div class="index">
        <div class="index-header">
            <img th:src="@{/img/logo.png}" width="46" height="40"/>
        </div>
        <div class="index-content">

        </div>
        <div class="index-footer">

        </div>
    </div>

    <div class="chat show">
        <div class="chat-header">
        </div>
        <div class="chat-content">

            <!-- 공지 메시지 -->
            <div class="msg-notice">
                <span class="msg-notice-text">언어감지(한국어) → 영어</span>
            </div>

            <!-- 사용자 메시지 -->
            <div class="msg-wrap">
                <div class="msg-shape">
                    번역할 다른 언어 문서를 잘 찾아봐야 합니다. 일본의 문화나 작품은 일본어, 중국의 문화나 작품은 중국어 위키백과에서 찾아보는 것이 도움이 될 수도 있습니다. 하지만 때로는 그 문화권의 언어보다 타 언어의 문서가 더 우수한 경우도 있습니다. 물론, 위키백과는 국가 단위가 아닌 언어 단위이지만 여기서 말하고자 하는 궁극적 취지는 그 문화나 작품의 본 언어판에 무조건 가장 좋은 문서가 있다는 것도 아니고 그렇다고 영어판이 좋다는 것도 아닙니다. 번역 전에는 여러 언어 문서와 비교한 후 번역 대상을 찾는 것이 중요합니다. 물론, 자신이 번역할 수 있는 언어를 고려해봐야 하겠죠. 사실 가능하다면 여러 언어를 번역하여 합성하는 것도 좋으며, 상대적으로 우수하지 못한 언어판의 문서라도 하지 않는 것보다는 낫습니다.
                </div>
                <div class="msg-subscript">
                    <i class="demo-icon nov-user">사용자</i>        
                </div>
            </div>

            <!-- 시스템 메시지 (카카오) -->
            <div class="msg-wrap sys">
                <div class="msg-shape">
                    Make sure to look for other language documents to translate. It may be helpful to look up Japanese culture and works in Japanese, and Chinese culture and works in Chinese Wikipedia. However, in some cases, documents in other languages ​​are superior to those of the culture. Wikipedia is a language unit, not a national unit, but the purpose of not being a unit to say is that it does not mean that the best document is all right for the original language version of the culture or work, nor that the English version is good. Before translation, it is important to find out what to translate after comparing it with multiple language documents. Of course, you might consider a language you can translate. In fact, it is better to translate and synthesize multiple languages, if possible, rather than not to do the documentation of the poorest language version.
                </div>
                <div class="msg-subscript">
                    <i class="kakao">카카오</i>        
                </div>
            </div>

            <!-- 시스템 메시지 (네이버) -->
            <div class="msg-wrap sys">
                <div class="msg-shape">
                    Make sure to look for other language documents to translate. It may be helpful to look up Japanese culture and works in Japanese, and Chinese culture and works in Chinese Wikipedia. However, in some cases, documents in other languages ​​are superior to those of the culture. Wikipedia is a language unit, not a national unit, but the purpose of not being a unit to say is that it does not mean that the best document is all right for the original language version of the culture or work, nor that the English version is good. Before translation, it is important to find out what to translate after comparing it with multiple language documents. Of course, you might consider a language you can translate. In fact, it is better to translate and synthesize multiple languages, if possible, rather than not to do the documentation of the poorest language version.
                </div>
                <div class="msg-subscript">
                    <i class="naver">네이버</i>        
                </div>
            </div>

            <!-- 시스템 메시지 (구글) -->
            <div class="msg-wrap sys">
                <div class="msg-shape">
                    Make sure to look for other language documents to translate. It may be helpful to look up Japanese culture and works in Japanese, and Chinese culture and works in Chinese Wikipedia. However, in some cases, documents in other languages ​​are superior to those of the culture. Wikipedia is a language unit, not a national unit, but the purpose of not being a unit to say is that it does not mean that the best document is all right for the original language version of the culture or work, nor that the English version is good. Before translation, it is important to find out what to translate after comparing it with multiple language documents. Of course, you might consider a language you can translate. In fact, it is better to translate and synthesize multiple languages, if possible, rather than not to do the documentation of the poorest language version.
                </div>
                <div class="msg-subscript">
                    <i class="google">구글</i>        
                </div>
            </div>

        </div>
        <div class="chat-footer">
            <textarea class="source-textarea" placeholder="번역할 텍스트 입력..."></textarea>
            <i class="nov-pencil translate-btn" title="번역하기" onclick="alert('번역하기');"></i>
        </div>
    </div>

</div>

</body>