<html lang="ko">
<head>
<title>쏼라</title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no,viewport-fit=cover">
<link rel="stylesheet" type="text/css" th:href="@{/nov.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/fontello.css}"/>
<body>

<div class="wrap-layout">
    <div class="header-layout">
        <img th:src="@{/img/logo.png}" width="46" height="40"/>
    </div>
    <div class="main-layout">
        <div class="message-box-right">
            <div class="message-shape">
                <span class="message-text">
                    안녕하세요!
                    저는 한국사람입니다.
                </span>
            </div>
            <div class="message-lang">
                <span>한국어</span>
            </div>
        </div>
        <div class="message-box-left">
            <div class="message-shape">
                <span class="message-text">
                    Hello!
                    I'm Korean.
                </span>
            </div>
            <div class="message-lang">
                <span>영어</span>
            </div>
        </div>
    </div>
    <div class="footer-layout">
        <textarea class="source-text" res placeholder="번역할 텍스트 입력..."></textarea>
        <i class="nov-pencil tt"></i>
    </div>
</div>

</body>
</head>
</html>